*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
    /* background-color: hsla(127, 8%, 14%, 1); */
}

li,a{
    font-family:"Roboto Flex", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.25vh;
    color: hsla(127, 8%, 42%, 1);
    text-decoration: none;
}

header{
    background-color: hsla(127, 8%, 14%, 1);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-top: 15vh;
    z-index: 2;
    width: 100%;
    height: 13vh;
    border-bottom: hsla(127, 8%, 32%, 1) 2px solid;
    /* margin-left: 5vw; */
}

.navbar{
    margin-left: 5.38vw;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: #fef5e4;
}

/* #tgtwork {
    margin-left: 1vh;
    margin-top: 8vh;
    margin-bottom: 7vh;
    margin-right: 30px;
} */

#worktgt {
    color: hsla(127, 8%, 14%, 1);
    height: 7vh;
    width: 15vw;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: solid hsla(35, 87%, 49%, 1);;
    text-align: center;
    background-color: hsla(127, 8%, 14%, 1);
    padding: 2vh 2vw 2vh 2vw;
    margin-right: 6vw;
    background-color: hsla(35, 87%, 49%, 1);;
}

#worktgt:hover{
    background-color: hsla(35, 87%, 59%, 1);
    border: solid hsla(35, 87%, 59%, 1);
    color: hsla(127, 8%, 14%, 1);
}

.about {
    background-color: hsla(127, 8%, 14%, 1);
}

.content {
    background-color: hsla(127, 8%, 14%, 1);
    display: flex;
}

.introimg {
    padding-top: 8rem;
    padding-left: 30vh;
}

.content h2{
    font-family: "Roboto Flex", sans-serif;    
    font-weight: 400;
    font-style: normal;
	padding-left : 15rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
	color        : #FEF5E4;
	transform    : translate(-9.6rem, 0);
	position     : relative;
    font-size: 6vh;
}

.content h1{
    /* font-size    : clamp(5rem, 7vw, 11.6rem); */
    padding-left : 5rem;
    padding-top: 1rem;
	line-height  : 1;
	margin-top   : 0;
	color        : #FEF5E4;
    font-size: 14vh;
    padding-bottom: 5%;
}


.s-intro__scroll-down {
    background-color: hsla(127, 8%, 14%, 1);
    padding-left : 2.25rem;
    padding-top :0rem;
	z-index    : 2;
	grid-column: 1/10;
	grid-row   : 2;
}

.s-intro__scroll-down a {
	display    : inline-flex;
	align-items: center;
	color      : #FEF5E4;
    padding-left :2.25rem;
    padding-top :1.75rem;
}

.s-intro__scroll-down span {
    font-family: "Roboto", sans-serif;
    padding-left: 1rem;
    font-weight: 500;
    font-style: normal;
}

.s-intro__scroll-down .scroll-icon {
	display        : flex;
	justify-content: center;
	align-items    : center;
	border-radius  : 50%;
	border         : 1px solid;
    color: #EA9010;
}

.s-intro__scroll-down svg {
	stroke: #FEF5E4;
    border-radius: 50%;
    border-width: 2;
}

.aboutbrief {
    background-color: hsla(127, 8%, 14%, 1);
}

.aboutbrief h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5vw;
    padding-top: 4rem;
    color        : #EA9010;
    transform    : translate(-9.6rem, 0);
    position     : relative;
}

.aboutbrief h1{
    font-size    : clamp(5rem, 7vw, 11.6rem);
    margin-left: 5vw;
    padding-top: 1rem;
	line-height  : 1;
	margin-top   : 0;
	color        : #FEF5E4;
}

.s-about__content-btn {
	--color-btn-stroke           :#FEF5E4;
	--color-btn-stroke-text      :#FEF5E4;
	--color-btn-stroke-hover     :#FEF5E4;
	--color-btn-stroke-hover-text:#343D35;
}

.s-about__social {
	margin-top     : var(--vspace-0_75);
	justify-content: center;
}

.s-about__social svg path,
.s-about__social svg circle {
	fill:#FEF5E4;
}

.s-about__social social-list{
    display: inline-flex;
}

#morebtn{
    margin-left: 1vh;
    margin-top: 8vh;
    margin-bottom: 7vh;
}

#btnmore {
    font-family:  "Roboto Flex", sans-serif;
    color: #fff;
    height: 7vh;
    width: 15vw;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: solid #FEF5E4;
    text-align: center;
    background-color: hsla(127, 8%, 14%, 1);
    padding: 3vh 5vw 3vh 5vw;
}

#btnmore:hover{
    background-color: #FEF5E4;
    color: hsla(127, 8%, 14%, 1);
}

#facebook {
    margin: 5vh 0 5vh 30%;
}

#twitter {
    margin-left: 1vw;
}

#instagram {
    margin-left: 1vw;
}

.about {
    display: flex;
}

.description p{
    padding: 30vh 5vw 15vh 10vw;
    font-family: "Roboto", sans-serif;
    color: #FEF5E4;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.title h1{
    text-align: center;
    padding-top: 15px;
    font-size: 45px;
    font-family: "DM Serif Display", Serif;
    color:#EA9010
}

.section {
    background-color: hsla(127, 8%, 14%, 1);
    padding-bottom: 8vh;
}

.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    /* padding: 0px 0px; */
    background-color: #FEF5E4;
    border-radius: 10px;
    cursor: pointer;
}

.card h2{
    font-family:  "Roboto Flex", sans-serif;
    /* margin-top: -20vh; */
    margin-top: 8vh;
    font-size: 28px;
    color:#343D35;
    background-color: #FEF5E4;
    margin-bottom: 20px;
}

/* .service-img{
    height: 3vh;
    width: 3vh;
} */

.card p{
    font-family:  "Roboto Flex", sans-serif;
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #343D35;
    padding: 25px;
    background-color: #FEF5E4;
}

.expertise-background {
    background-color: #FEF5E4;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: -12.6vh;
    margin-bottom: -13.5vh;
    padding-top: 5vh;
    padding-bottom: 13vh;
    /* margin-left: 5vw; */
    /* margin-left: -7vh; */
    /* background-image: url("https://wallpaperaccess.com/full/1556608.jpg"); */
}

#btnmoreprojects {
    color: hsla(127, 8%, 14%, 1);
    height: 7vh;
    width: 15vw;
    margin-left: -8.6vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: solid hsla(127, 8%, 14%, 1);
    text-align: center;
    background-color: #fef5e4;
    padding: 3vh 5vw 3vh 5vw;
}

#btnmoreprojects:hover{
    background-color: hsla(127, 8%, 14%, 1);
    color: #FEF5E4;
}

.container {
    display: flex;
}

.expertise {
    width: 80%;
}

.expertise h2 {
    color: #EA9010;
    font-family: "Roboto", sans-serif;
    font-size: 6vh;
    font-weight: lighter;
    margin-top: 14vh;
    margin-left: -7vh;
    /* padding-left : 15rem; */
}

.expertise h1 {
    color: hsla(127, 8%, 14%, 1);
    font-size: 12vh;
    margin-left: -7vh;
}

.expertise p {
    color: hsla;
    font-size: 3vh;
    padding-top: 2.5rem;
    font-family: "Roboto", sans-serif;
    margin-left: -7vh;
}

.masonry-grid {
    background-color: #FEF5E4;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* .masonry-grid .grid-item {
    margin-bottom: 10px;
} */

.masonry-grid .grid-item img {
    width: 100%;
    display: block;
    /* padding-left: 25px; */
    /* padding-right: 75px; */
}

.first-row {
    grid-column: span 2;
}

.second-row {
    grid-column: span 1;
}

.third-row {
    grid-column: span 2;
}


/* --FOOTER-- */

footer {
    background-color: hsla(127, 8%, 14%, 1);
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
   
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    font-family: sans-serif;
    padding-left: 2.5rem;
    color: #ffffff;
    font: normal 45px;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5vh;
    text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #EA9010;
}

.footer-links a:hover {
    color: #EA9010;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       

header {
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 14px;
    color: #333;
}

header h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.recent-projects {
    color: #fff;
    padding: 50px 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 600px; 
    height: 550px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-top: 1px solid #ccc;
}

.card-content {
    padding: 20px;
}

.card-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.card-content h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
}

.card-content p {
    margin-bottom: 10px;
}


.heading {
    background-color: hsla(127, 8%, 14%, 1);
    padding-bottom: 8vh;
}

/* --PROJECTS PAGE-- */

.project-heading h1{
    font-family:  "Roboto Flex", sans-serif;
    font-weight: lighter;
    padding-top: 20vh;
    text-align: center;
    color:#EA9010;
}

.project-heading h2{
    text-align: center;
    padding-top: 2vh;
    font-size: 8vh;
    color: #FEF5E4;
}

.project-background {
    background-color: #FEF5E4;
    margin-top: 6vh;
    height: 100%;
    width: 100%;
    padding-bottom: 10vh;
    margin-top: 0;
    margin-bottom: -13vh;
    /* display: inline-flex; */
}

.row1 {
    background-color: #FEF5E4;
    display: flex;
}

.project-card1 {
    background-color: hsla(127, 8%, 14%, 1);
    height: 105vh;
    width: 38vw;
    margin-top: 8vh;
    border-radius: 3%;
    margin-left: 15vh;
    padding-left: 5vh;
    padding-top: 3vh;
}

.project-card1 h1 {
    font-family:  "Roboto Flex", sans-serif;
    color: #FEF5E4;
    margin-top: 2vh;
}

.project-card1 h2 {
    font-family:  "Roboto Flex", sans-serif;
    font-weight: lighter;
    color: hsla(127, 8%, 55%, 1);
    margin-top: 1vh;
}

.project-card1 hr {
    margin-top: 2vh;
    width: 70vh;
}

.project-card1 p {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 4vh;
    margin-right: 8vh;
    color: #FEF5E4;
}

.project-tags {
    margin-top: 10px;
}

.project-tags span {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 3vh;
    display: inline-block;
    background-color: #FEF5E4;
    color: hsla(127, 8%, 14%, 1);
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.read-more {
    font-family:  "Roboto Flex", sans-serif;
    background-color: hsla(127, 8%, 14%, 1);
    color: #fef5e4;
    border: #FEF5E4 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5vh;
}

.read-more:hover {
    background-color: #FEF5E4;
    color: hsla(127, 8%, 14%, 1);
}

.project-image img{
    margin-top: 5vh;
    width: 70vh;
    height: 39.4vh;
}

/* --ABOUT ME-- */

.aboutme-body {
    background-color: #FEF5E4;
}

.aboutme-heading h1{
    font-family:  "Roboto Flex", sans-serif;
    font-weight: lighter;
    padding-top: 20vh;
    text-align: center;
    color:#EA9010;
}

.aboutme-heading h2{
    text-align: center;
    padding-top: 2vh;
    font-size: 8vh;
    color: #FEF5E4;
}

.aboutme-background {
    background-color: #FEF5E4;
    margin-top: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 8vh;
}

.row1 {
    background-color: #FEF5E4;
    display: flex;
}

.aboutme {
    height: 105vh;
    /* width: 38vw; */
    margin-top: 8vh;
    border-radius: 3%;
    margin-left: 15vh;
    padding-left: 5vh;
    padding-top: 3vh;
    background-color: #FEF5E4;
    display: flex;
    margin-right: 8vw;
}

.aboutmeimg {
    margin-top: 0vh;
    height: auto;
    width: 60vh;
}

.meabout {
    padding-left: 30vh;
    color: hsla(127, 8%, 14%, 1);
}

.meabout h2{
    font-size: 8vh;
}

.meabout p {
    font-family:  "Roboto Flex", sans-serif;
    word-spacing: 1px;
    letter-spacing: 1.25px;
    margin-top: 5vh;
    color: hsla(127, 8%, 14%, 1);
    font-size: large;
}

.education-interest {
    display: flex;
    background-color: hsla(127, 8%, 14%, 1);
}

.education {
    margin-top: -18vh;
    margin-left: 0vh;
    padding-bottom: 10vh;
    background-color: hsla(127, 8%, 14%, 1);
}

.interest {
    padding-right: 49.1vh;
    padding-left: 30vh;
    background-color: hsla(127, 8%, 14%, 1);
    margin-top: -18vh;
}

.interest h1{
    font-size: 5vh;
    padding-top: 10vh;
    margin-left: 13vh;
    margin-bottom: 10vh;
    color: #EA9010;
}

.education-levels {
    display: flex;
}

.education h1 {
    font-size: 5vh;
    padding-top: 10vh;
    margin-left: 13vh;
    margin-bottom: 10vh;
    color: #EA9010;
}

.education-diagram hr {
    margin-bottom: 3.3vh;
    margin-left: 19.5vh;
    width: 1.5%;
    height: 5vh;
    background-color: #EA9010;
    margin-top: 3.3vh;
    transform: rotate(180deg);
    border: none;
}

.diagram {
    margin-left: 15vh;
    padding-left: 5%;
    height: 9vh;
    width: 9vh;
    border: 2px #FEF5E4 solid;
    border-radius: 50%;
    background-color: #FEF5E4;
    color: #FEF5E4;
}

.level1 {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 1vh;
    margin-left: 5vh;
    color: #FEF5E4;
}

.level2 {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 12vh;
    margin-left: 5vh;
    color: #FEF5E4;
}

.level3 {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 10vh;
    margin-left: 5vh;
    color: #FEF5E4;
}

.Interestlevel1 {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 1vh;
    margin-left: 5vh;
    color: #FEF5E4;
}

.Interestlevel2 {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 12vh;
    margin-left: 5vh;
    color: #FEF5E4;
}

.Interestlevel3 {
    font-family:  "Roboto Flex", sans-serif;
    margin-top: 14vh;
    margin-left: 5vh;
    color: #FEF5E4;
}

.apps {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: hsla(127, 8%, 14%, 1);
    display: flex;
    margin-bottom: -23vh;
}

.appsused h1 {
    font-size: 5vh;
    color: #EA9010;
    margin-left: 13vh;
}

.appsused p {
    font-family:  "Roboto Flex", sans-serif;
    word-spacing: 1px;
    letter-spacing: 1.25px;
    font-size: large;
    color: #FEF5E4;
    margin-left: 13vh;
    padding-top: 5vh;
    width: 40vw;
}

.masonry-grid-apps {
    background-color: hsla(127, 8%, 14%, 1);
    margin-left: 20vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* --CONTACT PAGE-- */

.project-heading1 h1{
    font-family:  "Roboto Flex", sans-serif;
    font-weight: lighter;
    background-color: hsla(127, 8%, 14%, 1);
    padding-top: 20vh;
    text-align: center;
    color:#EA9010;
}

.project-heading1 h2{
    background-color: hsla(127, 8%, 14%, 1);
    text-align: center;
    padding-top: 2vh;
    font-size: 8vh;
    color: #FEF5E4;
}


.ContactPage1{
    background-color: #FEF5E4;
    margin-top: -10vh;
    height: 100%;
    width: 100%;
    padding-bottom: 0vh; 
}

.Contact {
    /* height: 105vh; */
    /* width: 38vw; */
    margin-top: 8vh;
    border-radius: 3%;
    margin-left: 15vh;
    padding-left: 5vh;
    padding-top: 3vh;
    background-color: #FEF5E4;
    display: flex;
    margin-right: 8vw;
    padding-bottom: 8vh;
}


.ContactMe h2{
    font-size: 8vh;
    padding-left: 10vh;
    padding-top: 10vh;
}

.Contact-cta{
    background-color: #FEF5E4;
    height: 5vh;
    width: 35vh;
    border: hsla(127, 8%, 14%, 1) 2px solid;
}

#contactbtn {
    font-family:  "Roboto Flex", sans-serif;
    color: hsla(127, 8%, 14%, 1);
    height: 7vh;
    width: 15vw;
    margin-left: 4.4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: solid hsla(127, 8%, 14%, 1);
    text-align: center;
    background-color: #FEF5E4;
    padding: 3vh 5vw 3vh 5vw;
}

#contactbtn:hover{
    background-color: hsla(127, 8%, 14%, 1);
    color: #FEF5E4;
}

.Contact-cta a{
    color: hsla(127, 8%, 14%, 1);
}

.contact-icons {
    display: inline-flex;
    /* margin-bottom: 5vh; */
}

.contact-icons a{
    padding-bottom: 3vh;
    padding-top: 1vh;
    padding-left: 5vh;
}

.ContactMe p{
    font-family:  "Roboto Flex", sans-serif;
    width: 40vw;
    padding-top: 5vh;
    font-size: 3vh;
    padding-left: 10vh;
}

.ContactPage2 {
    font-family:  "Roboto Flex", sans-serif;
    margin-left:25vh;
    margin-top: 24vh;
}

.ContactPage2 h3{
    font-weight: lighter;
    font-size: 4vh;
    padding-left: 5vh;
    margin-bottom: 2vh;
}

.email-contact{
    padding-left: 5vh;
}

.ContactPage2 a{
    color: hsla(127, 8%, 14%, 1);
}

.ContactPage2 ul{
    padding-left: 5vh;
}

.contact-block1 h3 {
    margin-top: 3vh;
}

.footerdistributed {
   
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 00px;
}

.footerdistributed .footer-left, .footerdistributed .footer-center, .footerdistributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footerdistributed .footer-left {
    width: 30%;
}

.footerdistributed h3 {
    padding-left: 2.5rem;
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footerdistributed h3 span {
    color: #e0ac1c;
}


.footerdistributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footerdistributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footerdistributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5vh;
    text-align: center;
}

/* Footer Center */

.footerdistributed .footer-center {
    width: 35%;
}

.footerdistributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footerdistributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footerdistributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footerdistributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footerdistributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */


.footerdistributed .footer-right {
    width: 30%;
}

.footerdistributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footerdistributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerdistributed .footer-icons {
    margin-top: 25px;
}

.footerdistributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footerdistributed .footer-icons a:hover {
    background-color: #EA9010;
}

.footer-links a:hover {
    color: #EA9010;
}

@media (max-width: 880px) {
    .footerdistributed .footer-left, .footerdistributed .footer-center, .footerdistributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footerdistributed .footer-center i {
        margin-left: 0;
    }
}